@model Final_Project_ASP_MVC.Models.Animal


<div class="card-collection" style="width: fit-content;">


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@Model.PictureSrc" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Name: @Model.Name</h5>
            <h5 class="card-title">Age: @Model.Age</h5>
            <h5 class="card-title">Description: @Model.Description</h5>
        </div>
    </div>




    <div class="edit-botton">

        <h3 class="card-title" style="margin: auto;">Fill for Edit</h3>

        @using (Html.BeginForm("EditAge", "Admin", new { id = Model.AnimalId }, FormMethod.Post))
        {
            @Html.TextBox("animalAge", null, new { id = Model.AnimalId, @placeholder = "Change Age" })
            <input type="submit" value="Edit Age" />
        }

        @using (Html.BeginForm("EditDescription", "Admin", new { id = Model.AnimalId }, FormMethod.Post))
        {
            @Html.TextBox("animalDescription", null, new { id = Model.AnimalId, @placeholder = "Change Description" })
            <input type="submit" value="Edit Description" />
        }

        @using (Html.BeginForm("EditPictureSrc", "Admin", new { id = Model.AnimalId }, FormMethod.Post))
        {
            @Html.TextBox("AnimalImg", null, new { id = Model.AnimalId, @placeholder = "Change Picture Src" })
            <input type="submit" value="Edit Picture Src" />
        }

        @using (Html.BeginForm("EditName", "Admin", new { id = Model.AnimalId }, FormMethod.Post))
        {
            @Html.TextBox("animalName", null, new { id = Model.AnimalId, @placeholder = "Change Name" })
            <input type="submit" value="Edit Name" />
        }
    </div>
</div>



